<h2>Thank You!</h2>
<p>Thanks for placing your order.</p>
<p>Due to COVID-19, you may have to wait a little longer if you order non-essential items. We apologize and ask for your understanding in these trying times.</p>
